In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

safi = pd.read_csv("/content/safi_data.csv")

In [13]:
safi

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,...,has_radio,has_cow_plough,has_solar_panel,has_bicycle,has_solar_torch,has_table,has_motorcycle,has_television,has_cow_cart,segment
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,missing,missing,1,...,0,0,1,1,0,1,0,1,0,2
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,...,1,1,1,1,1,1,0,0,1,2
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,missing,missing,1,...,0,0,0,0,1,0,0,0,0,1
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,missing,missing,2,...,1,1,1,1,0,0,0,0,0,1
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,missing,missing,4,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,...,1,0,1,0,0,0,0,0,0,1
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,...,1,1,0,0,1,1,0,1,0,2
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,...,1,0,1,0,1,0,0,0,0,2
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,...,1,1,1,0,1,0,0,1,1,2
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,missing,missing,3,...,1,1,1,0,1,1,0,0,0,2

In [ ]:
#M1 - previous stage
tmp = safi[["village","items_owned"]].copy()
tmp["items"] = tmp["items_owned"].fillna("no_listed_items").replace("", "no_listed_items")
tmp["items"] = tmp["items"].str.split(";")
long = tmp.explode("items")
long["items"] = long["items"].str.strip()

counts = long.groupby(["village","items"]).size().reset_index(name="n")
pct = counts.assign(pct=counts["n"] / counts.groupby("village")["n"].transform("sum") * 100)

heat = pct.pivot(index="items", columns="village", values="pct").fillna(0)

plt.figure(figsize=(6,8))
plt.imshow(heat.values, aspect="auto")
plt.xticks(range(heat.shape[1]), heat.columns, rotation=45)
plt.yticks(range(heat.shape[0]), heat.index)
plt.colorbar(label="% of respondents")
plt.title("Asset ownership by village")
plt.tight_layout()
plt.show()

In [ ]:
safi["number_items"] = safi["items_owned"].fillna("").apply(
    lambda x: 0 if x == "" else len([i for i in x.split(";") if i.strip()])
)

order = sorted(safi["village"].dropna().unique())
data = [safi.loc[safi["village"]==v, "number_items"].dropna() for v in order]

plt.figure(figsize=(6,4))
plt.boxplot(data, labels=order)
plt.ylabel("number_items")
plt.title("Distribution of items owned by village")
plt.tight_layout()
plt.show()

In [25]:
# M2 - Current Stage
# EDA & Preprocessing
# Text conversion on assets
import re

def split_sc(x):
    if pd.isna(x) or str(x).strip() == "":
        return []
    return [t.strip() for t in str(x).split(";") if t.strip() != ""]

items_series = safi["items_owned"].fillna("").astype(str)
items_list = items_series.apply(split_sc)

items_exploded = items_list.explode()
items_exploded = items_exploded[items_exploded != ""]
top_items = items_exploded.value_counts().head(10).index.tolist()

for it in top_items:
    safe = re.sub(r"[^A-Za-z0-9_]+", "_", it).strip("_")
    safi[f"has_{safe}"] = items_list.apply(lambda lst: int(it in lst))

In [27]:
# Text conversion on food insecurity
safi["food_shortage_month_count"] = safi["months_lack_food"].apply(split_sc).apply(len)

safi

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,...,has_cow_plough,has_solar_panel,has_bicycle,has_solar_torch,has_table,has_motorcycle,has_television,has_cow_cart,segment,has_motorcyle
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,missing,missing,1,...,0,1,1,0,1,0,1,0,2,0
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,...,1,1,1,1,1,0,0,1,1,0
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,missing,missing,1,...,0,0,0,1,0,0,0,0,2,0
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,missing,missing,2,...,1,1,1,0,0,0,0,0,1,0
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,missing,missing,4,...,1,0,0,0,0,1,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,...,0,1,0,0,0,1,0,0,2,1
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,...,1,0,0,1,1,0,1,0,1,0
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,...,0,1,0,1,0,0,0,0,2,0
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,...,1,1,0,1,0,1,1,1,1,1
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,missing,missing,3,...,1,1,0,1,1,0,0,0,1,0

In [31]:
# Categorical cleaning
safi["memb_assoc"] = safi["memb_assoc"].fillna("missing").astype(str)
safi["affect_conflicts"] = safi["affect_conflicts"].fillna("missing").astype(str)

safi

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,...,has_cow_plough,has_solar_panel,has_bicycle,has_solar_torch,has_table,has_motorcycle,has_television,has_cow_cart,segment,has_motorcyle
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,missing,missing,1,...,0,1,1,0,1,0,1,0,2,0
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,...,1,1,1,1,1,0,0,1,1,0
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,missing,missing,1,...,0,0,0,1,0,0,0,0,2,0
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,missing,missing,2,...,1,1,1,0,0,0,0,0,1,0
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,missing,missing,4,...,1,0,0,0,0,1,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,...,0,1,0,0,0,1,0,0,2,1
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,...,1,0,0,1,1,0,1,0,1,0
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,...,0,1,0,1,0,0,0,0,2,0
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,...,1,1,0,1,0,1,1,1,1,1
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,missing,missing,3,...,1,1,0,1,1,0,0,0,1,0

In [35]:
# Table for clustering
binary_cols = [c for c in safi.columns if c.startswith("has_")]

feature_cols = [
    "no_meals",
    "liv_count",
    "number_items",
    "food_shortage_month_count",
    "memb_assoc",
    "affect_conflicts",
] + binary_cols

X = safi[feature_cols].copy()

num_cols = ["no_meals","liv_count","number_items","food_shortage_month_count"]
for c in num_cols:
    X[c] = pd.to_numeric(X[c], errors="coerce")
    X[c] = X[c].fillna(X[c].median())

X

,no_meals,liv_count,number_items,food_shortage_month_count,memb_assoc,affect_conflicts,has_mobile_phone,has_radio,has_cow_plough,has_solar_panel,has_bicycle,has_solar_torch,has_table,has_motorcycle,has_television,has_cow_cart,has_motorcyle
0,2,1,4,1,missing,missing,0,0,0,1,1,0,1,0,1,0,0
1,2,3,8,5,yes,once,1,1,1,1,1,1,1,0,0,1,0
2,2,1,1,6,missing,missing,0,0,0,0,0,1,0,0,0,0,0
3,2,2,5,4,missing,missing,1,1,1,1,1,0,0,0,0,0,0
4,2,4,4,4,missing,missing,1,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,3,3,3,3,no,more_once,0,1,0,1,0,0,0,1,0,0,1
127,3,3,12,1,no,more_once,1,1,1,0,0,1,1,0,1,0,0
128,3,1,4,3,no,more_once,1,1,0,1,0,1,0,0,0,0,0
129,3,2,12,2,yes,more_once,1,1,1,1,0,1,0,1,1,1,1
130,3,3,6,2,missing,missing,1,1,1,1,0,1,1,0,0,0,0

In [38]:
# Analysis & Experiments
!pip -q install gower

import gower
from scipy.cluster.hierarchy import linkage, fcluster
from scipy.spatial.distance import squareform
from sklearn.metrics import silhouette_score
import pandas as pd

In [41]:
# Compute Gower distance
D = gower.gower_matrix(X)
D_condensed = squareform(D, checks=False)
D_condensed

array([0.5392157 , 0.33529413, 0.33039215, ..., 0.40490195, 0.2784314 ,
       0.45      ], dtype=float32)

In [48]:
# clustering
Z_avg = linkage(D_condensed, method="average")
Z_avg

array([[3.00000000e+01, 3.80000000e+01, 0.00000000e+00, 2.00000000e+00],
       [6.00000000e+01, 9.00000000e+01, 0.00000000e+00, 2.00000000e+00],
       [5.00000000e+00, 7.40000000e+01, 5.88235306e-03, 2.00000000e+00],
       [1.60000000e+01, 7.10000000e+01, 5.88235306e-03, 2.00000000e+00],
       [6.20000000e+01, 1.31000000e+02, 1.76470596e-02, 3.00000000e+00],
       [7.50000000e+01, 1.33000000e+02, 1.86274517e-02, 3.00000000e+00],
       [1.80000000e+01, 2.60000000e+01, 2.64705885e-02, 2.00000000e+00],
       [4.10000000e+01, 1.15000000e+02, 2.94117648e-02, 2.00000000e+00],
       [3.70000000e+01, 3.90000000e+01, 4.11764719e-02, 2.00000000e+00],
       [5.80000000e+01, 1.36000000e+02, 4.44444455e-02, 4.00000000e+00],
       [1.02000000e+02, 1.05000000e+02, 4.50980403e-02, 2.00000000e+00],
       [2.00000000e+01, 5.30000000e+01, 4.70588244e-02, 2.00000000e+00],
       [4.70000000e+01, 5.00000000e+01, 5.29411770e-02, 2.00000000e+00],
       [6.50000000e+01, 8.20000000e+01, 5.88235296e-02, 2.00000000e+00],
       [2.90000000e+01, 6.10000000e+01, 7.05882385e-02, 2.00000000e+00],
       [2.70000000e+01, 8.60000000e+01, 7.05882385e-02, 2.00000000e+00],
       [6.70000000e+01, 7.70000000e+01, 7.35294148e-02, 2.00000000e+00],
       [1.20000000e+01, 1.04000000e+02, 7.45098069e-02, 2.00000000e+00],
       [7.90000000e+01, 1.32000000e+02, 7.45098069e-02, 3.00000000e+00],
       [1.09000000e+02, 1.11000000e+02, 7.45098069e-02, 2.00000000e+00],
       [4.80000000e+01, 1.37000000e+02, 7.59803951e-02, 3.00000000e+00],
       [1.34000000e+02, 1.40000000e+02, 7.64705911e-02, 6.00000000e+00],
       [7.00000000e+01, 8.40000000e+01, 7.64705911e-02, 2.00000000e+00],
       [1.20000000e+02, 1.21000000e+02, 7.84313753e-02, 2.00000000e+00],
       [2.30000000e+01, 2.50000000e+01, 7.94117674e-02, 2.00000000e+00],
       [5.60000000e+01, 9.30000000e+01, 8.33333358e-02, 2.00000000e+00],
       [3.60000000e+01, 1.51000000e+02, 8.98692831e-02, 4.00000000e+00],
       [1.35000000e+02, 1.43000000e+02, 9.31372568e-02, 5.00000000e+00],
       [5.90000000e+01, 9.80000000e+01, 1.00000001e-01, 2.00000000e+00],
       [2.00000000e+00, 1.52000000e+02, 1.04901964e-01, 7.00000000e+00],
       [1.23000000e+02, 1.54000000e+02, 1.09803926e-01, 3.00000000e+00],
       [1.38000000e+02, 1.46000000e+02, 1.12745101e-01, 4.00000000e+00],
       [8.70000000e+01, 1.45000000e+02, 1.12745102e-01, 3.00000000e+00],
       [1.00000000e+01, 2.10000000e+01, 1.18627451e-01, 2.00000000e+00],
       [1.16000000e+02, 1.28000000e+02, 1.21568628e-01, 2.00000000e+00],
       [4.20000000e+01, 1.59000000e+02, 1.24509808e-01, 3.00000000e+00],
       [1.42000000e+02, 1.56000000e+02, 1.26470592e-01, 4.00000000e+00],
       [9.50000000e+01, 1.19000000e+02, 1.27450988e-01, 2.00000000e+00],
       [1.58000000e+02, 1.60000000e+02, 1.30084038e-01, 1.20000000e+01],
       [1.48000000e+02, 1.55000000e+02, 1.32843142e-01, 4.00000000e+00],
       [4.30000000e+01, 1.64000000e+02, 1.32843144e-01, 3.00000000e+00],
       [1.70000000e+01, 1.63000000e+02, 1.33660135e-01, 4.00000000e+00],
       [1.29000000e+02, 1.44000000e+02, 1.35294121e-01, 3.00000000e+00],
       [7.60000000e+01, 9.10000000e+01, 1.36274517e-01, 2.00000000e+00],
       [1.30000000e+02, 1.57000000e+02, 1.36519611e-01, 5.00000000e+00],
       [8.50000000e+01, 1.27000000e+02, 1.37254909e-01, 2.00000000e+00],
       [5.10000000e+01, 5.70000000e+01, 1.39215693e-01, 2.00000000e+00],
       [1.14000000e+02, 1.18000000e+02, 1.39215693e-01, 2.00000000e+00],
       [4.40000000e+01, 1.41000000e+02, 1.40196081e-01, 3.00000000e+00],
       [9.40000000e+01, 1.39000000e+02, 1.42156869e-01, 3.00000000e+00],
       [3.40000000e+01, 8.90000000e+01, 1.42156869e-01, 2.00000000e+00],
       [7.80000000e+01, 1.08000000e+02, 1.46078438e-01, 2.00000000e+00],
       [1.66000000e+02, 1.67000000e+02, 1.46486932e-01, 7.00000000e+00],
       [3.00000000e+00, 1.30000000e+01, 1.48039222e-01, 2.00000000e+00],
       [1.10000000e+01, 1.03000000e+02, 1.50000006e-01, 2.00000000e+00],
       [7.30000000e+01, 1.01000000e+02, 1.51960790e-01, 2.00000000e+00],
       [6.60000000e+01, 1.26000000e+02, 1.51960790e-01, 2.00000000e+00],
       [9.00000000e+00, 1.79000000e+02, 1.52287588e-01, 4.00000000e+00],
       [9.90000000e+01, 1.07000000e+02, 1.55882359e-01, 2.00000000e+00],
       [9.60000000e+01, 1.82000000e+02, 1.56372555e-01, 3.00000000e+00],
       [1.10000000e+02, 1.80000000e+02, 1.56535953e-01, 4.00000000e+00],
       [8.00000000e+01, 1.62000000e+02, 1.57843141e-01, 5.00000000e+00],
       [3.50000000e+01, 1.74000000e+02, 1.60294123e-01, 3.00000000e+00],
       [1.69000000e+02, 1.71000000e+02, 1.61111115e-01, 1.50000000e+01],
       [4.90000000e+01, 9.20000000e+01, 1.63725495e-01, 2.00000000e+00],
       [1.49000000e+02, 1.73000000e+02, 1.64379089e-01, 6.00000000e+00],
       [3.10000000e+01, 3.20000000e+01, 1.65686280e-01, 2.00000000e+00],
       [1.75000000e+02, 1.84000000e+02, 1.67352945e-01, 7.00000000e+00],
       [8.10000000e+01, 1.92000000e+02, 1.69019613e-01, 6.00000000e+00],
       [1.22000000e+02, 1.61000000e+02, 1.69607848e-01, 4.00000000e+00],
       [7.20000000e+01, 1.88000000e+02, 1.76960789e-01, 5.00000000e+00],
       [1.06000000e+02, 1.72000000e+02, 1.79166673e-01, 5.00000000e+00],
       [1.24000000e+02, 1.65000000e+02, 1.82352945e-01, 3.00000000e+00],
       [1.00000000e+00, 8.80000000e+01, 1.86274514e-01, 2.00000000e+00],
       [6.80000000e+01, 1.68000000e+02, 1.91176474e-01, 3.00000000e+00],
       [3.30000000e+01, 1.76000000e+02, 1.92156866e-01, 3.00000000e+00],
       [1.12000000e+02, 1.50000000e+02, 1.98039219e-01, 3.00000000e+00],
       [4.00000000e+01, 6.40000000e+01, 2.00980395e-01, 2.00000000e+00],
       [1.47000000e+02, 1.87000000e+02, 2.00980395e-01, 4.00000000e+00],
       [1.53000000e+02, 1.81000000e+02, 2.03431375e-01, 4.00000000e+00],
       [1.83000000e+02, 1.99000000e+02, 2.04201684e-01, 1.30000000e+01],
       [2.80000000e+01, 5.50000000e+01, 2.04901963e-01, 2.00000000e+00],
       [2.40000000e+01, 1.78000000e+02, 2.07843140e-01, 3.00000000e+00],
       [1.50000000e+01, 1.98000000e+02, 2.07983198e-01, 8.00000000e+00],
       [6.30000000e+01, 2.02000000e+02, 2.08431375e-01, 6.00000000e+00],
       [2.01000000e+02, 2.13000000e+02, 2.11045755e-01, 8.00000000e+00],
       [1.00000000e+02, 1.85000000e+02, 2.15196081e-01, 3.00000000e+00],
       [6.90000000e+01, 1.89000000e+02, 2.25000001e-01, 3.00000000e+00],
       [1.77000000e+02, 2.00000000e+02, 2.26225493e-01, 6.00000000e+00],
       [1.86000000e+02, 1.93000000e+02, 2.29248370e-01, 5.00000000e+00],
       [2.20000000e+01, 2.14000000e+02, 2.35171571e-01, 9.00000000e+00],
       [1.90000000e+01, 5.40000000e+01, 2.35294119e-01, 2.00000000e+00],
       [1.94000000e+02, 2.15000000e+02, 2.36437914e-01, 2.10000000e+01],
       [1.13000000e+02, 2.06000000e+02, 2.40196079e-01, 4.00000000e+00],
       [9.70000000e+01, 1.17000000e+02, 2.41176471e-01, 2.00000000e+00],
       [4.60000000e+01, 2.05000000e+02, 2.45098040e-01, 4.00000000e+00],
       [2.22000000e+02, 2.23000000e+02, 2.46591977e-01, 2.30000000e+01],
       [5.20000000e+01, 2.10000000e+02, 2.50245102e-01, 5.00000000e+00],
       [8.00000000e+00, 2.03000000e+02, 2.54901970e-01, 4.00000000e+00],
       [6.00000000e+00, 2.11000000e+02, 2.63499252e-01, 1.40000000e+01],
       [1.70000000e+02, 1.91000000e+02, 2.64338241e-01, 8.00000000e+00],
       [8.30000000e+01, 2.18000000e+02, 2.70588234e-01, 4.00000000e+00],
       [1.90000000e+02, 2.30000000e+02, 2.75023344e-01, 1.70000000e+01],
       [2.16000000e+02, 2.19000000e+02, 2.78676474e-01, 1.40000000e+01],
       [1.97000000e+02, 2.09000000e+02, 2.82843139e-01, 6.00000000e+00],
       [2.26000000e+02, 2.29000000e+02, 2.87254911e-01, 8.00000000e+00],
       [1.96000000e+02, 2.07000000e+02, 2.97331155e-01, 9.00000000e+00],
       [4.00000000e+00, 2.08000000e+02, 2.97549024e-01, 3.00000000e+00],
       [1.95000000e+02, 2.36000000e+02, 3.03308825e-01, 1.00000000e+01],
       [2.20000000e+02, 2.28000000e+02, 3.06196081e-01, 1.00000000e+01],
       [2.04000000e+02, 2.24000000e+02, 3.06617653e-01, 6.00000000e+00],
       [4.50000000e+01, 1.25000000e+02, 3.08823526e-01, 2.00000000e+00],
       [7.00000000e+00, 2.34000000e+02, 3.09523810e-01, 1.50000000e+01],
       [2.33000000e+02, 2.39000000e+02, 3.15011537e-01, 2.70000000e+01],
       [2.37000000e+02, 2.43000000e+02, 3.21016706e-01, 2.40000000e+01],
       [1.40000000e+01, 2.31000000e+02, 3.28676475e-01, 9.00000000e+00],
       [2.21000000e+02, 2.32000000e+02, 3.31862746e-01, 1.30000000e+01],
       [0.00000000e+00, 2.27000000e+02, 3.32480827e-01, 2.40000000e+01],
       [2.17000000e+02, 2.46000000e+02, 3.39433554e-01, 1.20000000e+01],
       [2.44000000e+02, 2.48000000e+02, 3.42380783e-01, 5.10000000e+01],
       [2.25000000e+02, 2.40000000e+02, 3.43333334e-01, 1.20000000e+01],
       [2.47000000e+02, 2.49000000e+02, 3.52815488e-01, 2.50000000e+01],
       [2.51000000e+02, 2.52000000e+02, 3.65065362e-01, 3.70000000e+01],
       [2.12000000e+02, 2.38000000e+02, 3.68137255e-01, 5.00000000e+00],
       [2.41000000e+02, 2.53000000e+02, 3.90544959e-01, 4.30000000e+01],
       [2.35000000e+02, 2.45000000e+02, 3.94458062e-01, 3.00000000e+01],
       [2.42000000e+02, 2.56000000e+02, 4.27745100e-01, 3.20000000e+01],
       [2.50000000e+02, 2.55000000e+02, 4.36173031e-01, 9.40000000e+01],
       [2.54000000e+02, 2.57000000e+02, 4.42830884e-01, 3.70000000e+01],
       [2.58000000e+02, 2.59000000e+02, 5.33684562e-01, 1.31000000e+02]])

In [45]:
# evaluate k = 2..8 with silhouette
rows = []
for k in range(2, 9):
    labels = fcluster(Z_avg, t=k, criterion="maxclust")
    sil = silhouette_score(D, labels, metric="precomputed")
    rows.append({"k": k, "silhouette": sil})

sil_avg = pd.DataFrame(rows).sort_values("silhouette", ascending=False)
display(sil_avg)

   k  silhouette
0  2    0.288989
2  4    0.225067
3  5    0.203501
4  6    0.202721
5  7    0.195743
6  8    0.185950
1  3    0.176724

In [47]:
# Choose k and assign segments
best_k = int(sil_avg.iloc[0]["k"])
safi["segment"] = fcluster(Z_avg, t=best_k, criterion="maxclust").astype(int)

print("Chosen k =", best_k)
display(safi["segment"].value_counts().sort_index())

Chosen k = 2

segment
1    94
2    37
Name: count, dtype: int64